<h4 class="profile"><%= link_to bar.name, bar %></h4>

<section class="container">
  <%= bar.address %>
  <div>
    <%= bar.city %>,
    <%= bar.state %>
    <%= bar.zip %>
  </div>
  <div>
    <%= bar.phone %>
  </div>
  <div>
    <%= bar.website %>
  </div>
  <% if current_user.owns_or_works_at?(bar) %>
    <div>
      <p>Owner: <%= bar.owner_name %></p>
      <p>Bartenders:
        <ul><%= render bar.users %></ul>
      </p>
    </div>
  <% end %>
</section>
