<%= form_for @user, html: { class: "no-info" } do |form| %>

  <div class="error">
    <% if @user.errors.any? %>
      <%= render "error_messages", errors: @user.errors %>
    <% end %>
  <div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.radio_button(:manager, false) %>
    <%= form.label(:user_role, "I am a bartender") %>
    <%= form.radio_button(:manager, true) %>
    <%= form.label(:user_role, "I am a bar manager") %>
  </div>
  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>
