<%= form_for profile, html: { class: "no-info" } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
